@media screen and (max-width:1399px){
    .below_bnr_content p {
    max-width: 600px;
}
}

@media screen and (max-width:1199px) {
    html {
        font-size: 15px;
    }

    .pages_feature_section .choose-feature {
        grid-template-columns: 1fr 1fr;
    }
        .below_bnr_content p {
    max-width: 470px;
}
}

@media screen and (max-width:991px) {
    .banner {
        height: 45rem;
    }

    .header.fixed_header .menu-link {
        color: #fff;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        background-color: black;
        transform: translateX(-100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .menu {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .header.white_bg .menu-link {
        color: #fff;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu-toggle {
        display: block;
    }

    .menu-close {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        text-align: end;
        z-index: 55;
        height: 1.6rem;
        width: 1.6rem;
    }

    .top_logo {
        display: none;
    }

    .nav .logo {
        display: block;
    }

    .nav {
        justify-content: space-between;
    }

    .feature-image {
        height: 23.33rem;
    }

    .feature-inner .row {
        flex-direction: column-reverse;
    }

    .feature-inner .section_heading {
        text-align: center;
    }

    .section_heading {
        font-size: 2.5rem;
    }

    .img-responsive {
        height: 12.75rem;
    }

    .pages_loc_name {
        font-size: 1rem;
    }

    .img_part {
        height: 20.33rem;
    }
}




@media screen and (max-width:767px) {
    html {
        font-size: 14px;
    }



    .copy_txt p {
        text-align: center;
    }

    .ssl_certi {
        justify-content: center;
    }

    .footer_logo_sec {
        text-align: center;
        margin-bottom: 4rem;
    }

    .social_profile ul li a {
        width: 45px;
        height: 45px;
    }

    .guide_table {
        overflow-x: scroll;
    }

    .guide_table_sec table {
        min-width: 46.66rem;
    }

    .section_heading {
        font-size: 2rem;
    }

    .img-responsive {
        height: 12.75rem;
    }

    .games_cards_wrap .home_btm_cards h3 {
        font-size: 1.3rem;
    }

    .img_part {
        height: 17.33rem;
    }
    .footer_pages_brick{
        overflow-x: scroll;
    }
    .footer_pages_brick table {
    min-width: 50rem;
}
}


@media screen and (max-width:575px) {


    .copy_txt p {
        font-size: 0.9rem;
    }

    .text1 {
        font-size: 2rem;
    }

    .hero-content {
        padding: 1rem;
    }

    .hero-section {
        height: 40.75rem;
    }

    .below_bnr_content p {
        font-size: 1.2rem;
    }

    .choose-feature {
        grid-template-columns: 1fr;
    }

    .footer_logo_sec {
        text-align: left;
    }

    .logo,
    .footer_logo {
        width: 10rem;
    }

    .menu-toggle {
        width: 2.5rem;
        height: 2.5rem;
    }

    .hero-section.sub_pages {
        height: 30rem;
    }

    .hero-section.sub_pages .hero-content {
        margin-top: 5rem;
    }



    .home_content_top_para {
        font-size: 1.1rem;
    }

    .login-box {
        padding: 2.5rem 1rem;
    }


    .faq_icon {
        width: 5.25rem;
    }

    .pages_feature_section .choose-feature {
        grid-template-columns: 1fr 1fr;
    }

    .feature-text h4 {
        font-size: 1.2rem;
    }

    .guide_get_started .feature-text h3 {
        font-size: 1.3rem;
    }

    .guide_table_sec table th,
    .guide_table_sec table td {
        font-size: 1.1rem;
    }

    .img_part {
        height: 15.33rem;
    }

    .text_part p {
        font-size: 1.1rem;
    }

    .personal-page-content h2 {
        font-size: 1.5rem;
    }
    .below_bnr_content p {
    max-width: 400px;
}
}


@media screen and (max-width:480px) {
    .butn {
        font-size: 0.9rem;
    }

    .below_bnr_content p {
        font-size: 1rem;
    }

    .text1 {
        font-size: 1.7rem;
    }

    .copy_txt p {
        font-size: 0.8rem;
    }

    .self_footer ul li a {
        font-size: 1.1rem;
    }

    .pages_feature_section .choose-feature {
        grid-template-columns: 1fr;
    }

    .guide_table_sec table th,
    .guide_table_sec table td {
        font-size: 1rem;
    }

    .text_part p {
        font-size: 1rem;
    }
    .personal-page-content h4 {
    font-size: 1.1rem;
}
.below_bnr_content p {
    max-width: 320px;
}
}

@media screen and (max-width:400px) {
    .section_heading {
        font-size: 1.8rem;
    }

    .feature-text h4 {
        font-size: 1.2rem;
    }

    .feature-text ul li {
        font-size: 1rem;
    }

    .home_content_top_para {
        font-size: 1rem;
    }

    .text1 {
        font-size: 1.5rem;
    }
}